[tool.poetry]
name = "marketmaps"
version = "0.1.0"
description = "A Python package for exploring markets in maps"
authors = ["Maximilian Matthe"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
